.imageAvatar {
  width: 128px;
  height: 128px;
}

.btnComment {
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 992px) {
  .imageAvatar {
    width: 60px;
    height: 60px;
  }
}